@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
/*** Parameters ***/

// Colors
$color-primary: #050505;
$color-secondary: #d79a00;
$color-light: #3d3d3d;
$color-brand: #c10000;
$color-heading: #000;
$color-header: #282828;
$w-text: #fff;
$g-text: #757575;
$g-text-hover: #c10000;
$g-bg-main:#3d3d3d;
$oc:#f77e4a;
$pc:#e03e48;
$vc:#9b55a9;

$white: #fff;
$black: #000;

$fw: "font-weight"; 
$ff: "font-family";
$fs: "font-size";
$c: "color";

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;



// Font Size
$base-font-size: 16;

// Font Family
$sans-serif: 'Montserrat', sans-serif;

