.white-text
{
    color: $white;
}
.choose_check
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.choose_list
{
    width: calc(100% / 4 - 30px);
    margin-right: 40px;
    // min-height: 100px;
    // background-color: #000;   
    margin-bottom: 40px;
  

    @include breakpoint(desktop)
    {
        margin-bottom: 20px;
        width: calc(100% / 4 - 15px);
        margin-right: 20px;
    }

    &:nth-child(4n + 4)
    {
        margin-right: 0;
    }

    label
    {
        height: 100%;
        width: 100%;
    
        cursor: pointer;

        input[type=checkbox] {
            position: absolute;
            left: -999px;
            opacity: 0;

            &+div
            {
                position: relative;
                box-shadow: 0 0 10px rgb(0 0 0 / 21%);
                border-radius: 20px;
                padding: 40px;
                background-color: #242424;
                text-align: center;

                @include breakpoint(desktop)
                {
                    border-radius: 10px;
                    padding: 30px;
                }

              &:after {
                    content: '';
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    width: 18px;
                    height: 18px;
                    border-radius: 100%;
                    border: 2px solid;
                    border-right-color: transparent;
                    transform: rotate(-45deg);
                }
                &:before {
                    content: '✔';
                    color: $g-text-hover;
                    position: absolute;
                    top: 6px;
                    right: 18px;
                    width: 18px;
                    height: 18px;
                    opacity: 0; 
                }
            }

            &:checked
            {
                &+div
                {
                    background-color: $black;

                  &:after {
                        content: '';
                        border-color: $g-text-hover;
                        // color: $g-text-hover;
                         border-right-color: transparent;
                        transform: rotate(-45deg);
                    }

                  &:before {
                        content: '✔';
                        color: $g-text-hover;
                        opacity: 1;
                    }
                }   
            }
        }
    }
} 

.choose_check
{
    margin: 50px 0;
}
.create_chhanel_wrap
{
    max-width: 450px;

    &>h6
    {
        color: $g-text;
    }
}

.attch.form-control {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input[type="file"]
    {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.avtarck
{
    margin: 20px auto;
    display: table;
}